{% extends "base.html" %}
{% block content %}

<form action="/create/thing" method="post" class="col-11 p-4 my-4 mx-auto">
    <h1>Report New Product</h1>
    <div class="d-flex justify-content-around">
        <div class="col-8">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" name="name" class="form-control">
            </div>

            <div class="form-group">
                <label for="type">Type:</label>
                <select name="type">
                    <option value="dry">Dry</option>
                    <option value="fresh">Fresh</option>
                    <option value="frozzen">Frozzen</option>
                  </select>
            </div>
            <div class="form-group">
                <label for="best_by">Bset Date:</label>
                <input type="date" name="best_by" class="form-control">
            </div>
            <div class="form-group">
                <label for="cost">Cost:</label>
                <input type="text" name="cost" class="form-control">
            </div>

            <div class="form-group">
                <label for="quanlity">Quanlity:</label>
                <input type="text" name="quanlity" class="form-control">
            </div>

        </div>


    </div>
    <br>
        <input type="submit" value="Report" class="btn btn-primary">
        
</form>

{% endblock %}
