{% extends "base.html" %}
{% block content %}
<div class="card col-10 mx-auto my-5 bg-dark text-light">
    <div class="card-body">
        <div>
            <h1>{{product.name}}</h1>
        </div>
        <h2>Type:</h2>
        <h3>{{product.type}}</h3>
        <h3>Price: {{product.cost}}</h3>
        <h4>Date: {{product.best_by}}</h4>
        <h4># of Products: {{product.quanlity}}</h4>
    </div>
    <a class="btn btn-primary" href="/purchase/{{dry.id}}" role="button">Purchase</a>
	<a class="btn btn-primary" href="/addcart/{{dry.id}}" role="button">Add Cart</a>
</div>
{% endblock %}